---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>
Esta pagina esta creada por Rodrigo.
  </p>
</BaseLayout>