---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Blog</h1>
  <p>Últimas entradas de mi blog</p>
  <div class="blog-post">
    <div class="title">Informacion popular.</div>
    <div class="content">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum pharetra ex in commodo. Pellentesque consequat, justo a porttitor sagittis, nulla mi bibendum quam, vitae aliquam augue nisl quis erat. Etiam vel commodo sapien, eget ultrices sapien. Curabitur vitae varius lorem. Proin eu fermentum ligula. Donec quam odio, rhoncus id sem eget, dictum rhoncus magna. Quisque vel urna eros. Aliquam efficitur ornare lacus quis lobortis. Vivamus tempus sem vel dui dignissim congue. Donec et risus tortor. Cras eleifend mi eu est commodo mattis sed vitae odio. Aenean non neque mattis, gravida quam sit amet, consectetur risus. Nam eget scelerisque tellus. Phasellus mollis, mi vel malesuada hendrerit, tellus eros elementum odio, vel consequat nunc justo tristique nisl.</p>
      <p>Cras ac mi elit. Nulla enim magna, ultrices a urna quis, congue pellentesque erat. Morbi commodo quam id mi facilisis pharetra. Proin ultrices quam ultrices lectus condimentum viverra. Nullam et dictum ligula, nec fermentum neque. Curabitur congue faucibus tempor. Sed pharetra mauris neque, eu congue mauris suscipit sit amet. Praesent porttitor efficitur ultrices.</p>
      <p>Pellentesque non ipsum eget nibh dapibus sodales. Aliquam pretium a risus non facilisis. Nunc ante sem, efficitur sed tincidunt et, pharetra eget tellus. In pellentesque facilisis eros, at condimentum enim facilisis nec. Curabitur ex mi, commodo ac posuere vitae, tempor et nulla. Aliquam erat volutpat. Nam tincidunt, dolor et laoreet dictum, velit urna sollicitudin lorem, nec rhoncus magna velit eget ante. Sed nec accumsan augue, in fermentum justo. Aenean in lectus egestas, auctor nisl vitae, pellentesque magna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Phasellus quis tortor non libero ullamcorper pharetra vel eu nunc. Nullam luctus felis ac justo blandit sollicitudin vehicula in massa.</p>

    </div>
  </div>
</BaseLayout>