---
import MenuLayout from './MenuLayout.astro'
import FootLayout from './FootLayout.astro'
// src/layouts/BaseLayout.astro
const {title} = Astro.props;
---
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Juan" />
    <meta name="keywords" content="HTML, CSS, Astro" />
    <title>Cosas Perdidas - {title}</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve('../styles/base.css')} />     
  </head>
  <body>
    <div id="header">
      <div class="container">
        <div id="logo">
          <!-- Aquí irá el logo -->
          <a href="/home">
            <img class="logo" src={Astro.resolve('../assets/logo-group.svg')} />
          </a>
        </div>
        <MenuLayout></MenuLayout>        
      </div>
    </div> <!-- header -->
    <!-- ======= Bloque de página ======= -->
    <div class="main">      
      <slot />
    </div>
    <!-- ======== Pie de página ========= -->
    <FootLayout></FootLayout>
  </body>
</html>